body {
  margin: 0;
  padding: 0;
  background-image: url('../img/image_2026-04-19_23-37-58.png');
  background-size: cover;
}



.inpCity {
  display: flex;
  justify-content: center;
  margin-top: 70px;

}

#inpName {
  text-align: center;
  font-weight: 400;
  font-size: large;

}

.inpInp {
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
  background-color: #ebebeb;
}

#formCity {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 25px;
  border: 2px solid #ebebeb;
  border-radius: 30px;
  background-color: #ffffff9a;

}

#inpBut {
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 20px;
 background-color: #ebebeb;
}

#iconWeather {
  margin: auto;
  font-size: larger;
}

.fa-sun-o {
  color: #eff306;
}
.fa-cloud {
  color:rgb(255, 255, 255)
}
.fa-bolt {
  color:#ddeb63
}
.fa-snowflake-o {
  color:rgb(167, 249, 255)
}
.fa-soundcloud {
  color: rgba(110, 110, 110, 0.781);
}

.card {
  display: block;
  max-width: 400px;
  min-height: 400px;


  border-radius: 20px;
  background-color: #ffffffa9;
  border: 1px black solid;
}

.closeCard {
float: right;
margin:  5px 5px 0 0;
border: 0px;
background-color: rgba(0, 176, 199, 0.548);
color: rgb(70, 70, 70);
border-radius: 20px;
cursor: pointer;
}

.inner {
  padding: 20px;
  text-align: center;
}

.tempNow {
  margin: 20px 0 10px 0;
  font-weight: 400;
  font-size: large;
  font-size: 20px;
}
#tempNow {
  font-size: 30px;
}
.weatherNow {
  margin: 20px 0 10px 0;
  font-weight: 400;
  font-size: large;
}

#weatherNow {
  font-size: 30px;
}

.imgWeather {
  margin-top: 10px;
}

.oopsError {
  background-color:#ffffff;
  border-radius: 20px;
  text-align: center;
  margin-top: 20px;
  padding: 5px;
  color: red;
}