.inpCity {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

#inpName {
  text-align: center;
  font-weight: 400;
  font-size: large;
}

.inpInp {
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
  background-color: #ebebeb;
}

#formCity {
  width: 250px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 25px;
  border: 2px solid #ebebeb;
  border-radius: 30px;
  background-color: #ffffff9a;
  align-items: center;
  text-align: center;
}

#inpBut {
  width: 175px;
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #ebebeb;
}

.oopsError {
  background-color: #ffffff;
  text-align: center;
  margin-top: 10px;
  padding: 5px;
  color: red;
  border: 1px solid rgba(255, 0, 0, 0.856);
  border-radius: 20px;
}

.spinnerLoad {
  margin: 10px;
}

.fa-spinner {
  color: #ffffff;
}